.banner {
  background-image: url(../../images/background.jpeg);
  color: black; 
  padding: 150px 0px;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  font-size: 50px;
  font-family: 'Arial', sans-serif;
}

.banner h2 {
  font-size: 36px;
  font-weight: normal;
  opacity: 0.8;
  margin-bottom: 40px;
  font-family: 'Verdana', sans-serif;
}
